# FOLDERS
.idea
.mixin.out
.vscode
.probe
config
crash-reports
downloads
local
logs
saves
screenshots

# FILES
.curseclient
command_history.txt
kubejs/README.txt
options.txt
usercache.json
usernamecache.json

# To remove when dev in the modpack
mods
